.list-rrss {
    margin: 10px;
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
}

.list-rrss img{
    margin: 20px;
    width: 40px;
    height: 40px;
}

.list-rrss:hover {
    cursor: pointer;
    color: var(--colorI);
}

