.p-container{
    z-index: 3;
    padding: 5vw;
    /* padding-top: 100px; */
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.p-card{
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--colorIII);
}

.card-img-top{
    width: 100%;
    overflow: hidden;
}