.card-container{
    width: 200px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#card-img {
    align-self: flex-start;
    overflow: hidden;
}

#card-img > img{
    width: 100%;
}

#card-img > img:hover{
    transform: scale(1.05);
}


#card-body {
    padding: 5px;
}

#card-body > h5{
    text-transform: uppercase;
    margin: 0px;
    padding: 5px;
}

#card-body > p {
    text-align: left;
    padding: 10px;
    margin: 0px;

}

#card-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#c-link-git > img {
    width: 30px;
    margin: 10px;
    /* height: 100%; */
}

