@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root{
  --colorI: #ff7f2f;
  --colorII: #3d4249;
  --colorIII: #cecece;
  --colorIV: #b6b6b6;
  --colorV:#f5f5f5;
  --colorVI: #282828 ;
  --colorVII: #f0f0f0;
}


html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0; 
  display:block;
  font-family: 'Open Sans', 'Roboto' , 'Montserrat', 'EB Garamond','Libre Baskerville', serif;
 }

.App {
  /* text-align: center;
  box-sizing: border-box;
  position: relative;
  background-color: var(--colorV);
  background-image: url('./Media/photos/back1-landing.jpg');
  background-position:  right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:85vh; 
  position:relative; 
  font-size: 1rem;
  display: flex;
  justify-content: stretch;
  flex-direction: column; */

/*  */

  text-align: center;
  box-sizing: border-box;
  position: relative;
  /* overflow: auto; */
  background-color: var(--colorV);
  background-image: url('./Media/photos/back1-landing.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  font-size: 1rem;
  /* padding-bottom: 15vh; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 60px;

}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.App h1, h2, h3, h4 {
  font-family: 'Bangers' , 'Montserrat', 'EB Garamond','Libre Baskerville', serif;

}

.notFooter {
  padding: 0px;
}


/* 

@media screen  and (max-height: 360px) and (orientation: landscape){
.App{
  padding-bottom: 95vh;

}

}


@media screen and (min-height: 360px)  and (max-height: 640px) and (orientation: landscape){
  .App{
    padding-bottom: 90vh;
  
  }
  

}

@media screen and (max-height: 670px) and (orientation: portrait){

  .App{
    padding-bottom: 60vh;
  
  }

  
  
}


@media screen and (min-height: 670px)  and (max-height: 900px) and (orientation: portrait){
  .App{
    padding-bottom: 50vh;
  
  }
} */