@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --colorI: #ff7f2f;
  --colorII: #3d4249;
  --colorIII: #cecece;
  --colorIV: #b6b6b6;
  --colorV:#f5f5f5;
  --colorVI: #282828 ;
  --colorVII: #f0f0f0;
}


html, body, #root{
  margin: 0;
  padding: 0; 
  height:100%;
  display:block;
  font-family: 'Montserrat', 'EB Garamond','Libre Baskerville', serif;
 }

.App {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  background-color: var(--colorV);
  background-image: url('./Media/photos/back1-landing.jpg');
  background-position:  right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%; 
  position:relative; 
  padding-bottom: 15vh;
}


.notFooter {
  padding: 0px;
}