.h-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1rem + 0.2vw);
    /* margin-right: 4vw; */
    top: 60px;
}

#btnHam {
    background-image: url('../../Media/icons/menuHam1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#btnHam:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .h-links{
        width: 100%;
        margin: 0;
        font-size: calc(1rem - 0.1vw);
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 9;
        background-color: rgba(61, 66, 73, 0.9);
    }

    .links-land{
        background-color: rgba(  203, 210, 217  , 0.2); 
    }
}

@media screen and (max-width: 1024px){
    .h-links{
        top: 60px;
    }
}
