.fcontact-container {
    width: 470px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #dddddd;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 0px 5px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fc-common input {
    height: 30px;
}

.fc-common input, .fc-common textarea{
    border-radius: 10px;
    padding: 5px;
}

.fc-dataContainer{
    display: flex;
}

.fc-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fc-common{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fc-common label{
    align-self: flex-start;
    font-weight: 600;
    font-size: 0.9rem;
}

.fc-common span{
    color: red;
}

.fc-name {

}

.fc-email {
}

.fc-subject {
}

.fc-message{
    height: 100%;
}

.fc-message textarea{
resize: none;
margin-left: 20px;
width: 200px;
height: 190px;
}

.fc-message label{
margin-left: 20px;
}

.fc-btn{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 60px;
    background-color: var(--colorI);
    font-weight: bold;
    align-self: center;
}